* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: chartreuse;
  border: 5px solid red;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  gap: 2rem;
}
h1{
  margin-top: 2rem;
  color: purple;
}
input {
  font-size: 1.3rem;
  height: 2rem;
  border-radius: 10px;
  border: 2px solid white;
  color: red;
  font-weight: 600;
}
button {
  border-radius: 10px;
  width: 4rem;
  height: 2rem;
  font-weight: 600;
  font-size: large;
  background-color: blueviolet;
  color: white;
}

img{
    width: 25%;
    border-radius: 50%;
   
}
.img{
    text-align: center;
}
.footer{
  color: blueviolet;
}